<div class="container rooms">
  <div class="row">
    <div class="col-sm-12">
      <header>
        <h1>Products</h1>
        <%= link_to "<span class='glyphicon glyphicon-plus'></span><span class='hidden-xs'> Nuevo </span> Producto".html_safe, new_product_path, class: "btn btn-primary new-product" %>
      </header>
	  <br><table class="table">
	    <tr>
	      <th>Nombre</th>
	      <th>Precio</th>
	      <th>Categoría</th>
	      <th></th>
	      <th></th>
	    </tr>

	    <% @products.each do |x| %>
	      <tr>
	        <td><%= x.name %></td>
	        <td><%= x.price %></td>
	        <td><%= x.categories.map {|c| c.name}.join(', ') %></td>
	        <td><%= link_to "<span class='glyphicon glyphicon-pencil'><span>".html_safe, edit_product_path(x), class: "edit-product-btn"  %></td>
	        <td><%= link_to "<span class='glyphicon glyphicon-trash'><span>".html_safe, x, method: :delete, data: { confirm: "¿Estás seguro de eliminar este producto?" }, class: "destroy-product-btn" %></td>
	      </tr>
	    <% end %>
	  </table>
    </div>
  </div>
</div>
